* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1b1919;
}

span {
    width: 400px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 80px;
    color: #00fff2;
    font-size: 48px;
    box-shadow: inset 2px 3px 4px rgb(236, 178, 178),
        2px 3px 4px rgb(0, 0, 0, 4);
}